<p style="color: green"><%= notice %></p>

<%= render @menu %>

<div id="menu_items">
  <% @menu.menu_items.each do |menu_item| %>
    <%= render "show_menu_item", menu_item: menu_item %>
  <% end %>
</div>

<div>
  <h2>New menu item</h2>
  <%= turbo_frame_tag :new_menu_item, src: new_menu_item_path(menu_item: { menu_id: @menu.id }) %>
</div>

<div>
  <%= link_to "Edit this menu", edit_menu_path(@menu) %> |
  <%= link_to "Back to menus", menus_path %>

  <%= button_to "Destroy this menu", @menu, method: :delete %>
</div>
