<%= render @menu %>

<div>
  <%= link_to "Edit name", edit_menu_path(@menu) %>
  <br/>
  <br/>
</div>

<div id="menu_items">
  <% @menu_items.each do |menu_item| %>
    <%= render "menu_items/form", menu_item: menu_item %>
  <% end %>
</div>

<%= render "menu_items/form", menu_item: @menu.menu_items.build %>

<div>
  <%= link_to "Back to menus", menus_path %>

  <%= button_to "Destroy this menu", @menu, method: :delete %>
</div>
