<div><%= link_to "Back to menus", [:business, :menus] %></div>
<div><%= link_to "Edit name", [:edit, :business, @menu] %></div>
<div><%= link_to "Delete menu", [:business, @menu], data: { turbo_method: :delete, turbo_confirm: "Delete #{@menu.name}?" } %></div>

<h1>
  <%= @menu.name %>
</h1>

<div id="menu_items">
  <% @menu_items.each do |menu_item| %>
    <%= render "business/menu_items/form", menu_item: menu_item %>
  <% end %>
</div>

<%= render "business/menu_items/form", menu_item: @menu.menu_items.build %>
