<% if Can.create_menu_section?(menu) %>
  <%= button_to private_menu_sections_path,
                class: "add-button",
                params: { menu_section: { menu_id: menu.id, position: position } } do %>
    <span class="material-symbols-sharp">add</span>
    <%= t('private.menus.new_menu_section.new_section') %>
  <% end %>
<% else %>
  <%= tag.div class: "inline-block",
              data: {
                controller: :tippy,
                tippy_allow_html_value: true,
                tippy_interactive_value: true,
                tippy_placement_value: :bottom,
                tippy_content_value: link_to(t('private.menus.new_menu_section.upgrade'),
                                               private_stripe_checkout_session_path),
              } do %>
    <%= button_to private_menu_sections_path,
                  class: "add-button",
                  disabled: true do %>
      <span class="material-symbols-sharp">add</span>
      <%= t('private.menus.new_menu_section.new_section') %>
    <% end %>
  <% end %>
<% end %>
