<% if Can.create_menu_item?(menu) %>
  <%= button_to private_menu_items_path,
                class: "add-button",
                params: { menu_item: { menu_section_id: menu_section.id, position: position } } do %>
    <span class="material-symbols-sharp">add</span>
    <%= t('private.menus.new_menu_item.new_item') %>
  <% end %>
<% else %>
  <%= tag.div class: "inline-block",
              data: {
                controller: :tippy,
                tippy_allow_html_value: true,
                tippy_interactive_value: true,
                tippy_placement_value: :bottom,
                tippy_content_value: link_to(t('private.menus.new_menu_item.upgrade'),
                                             private_stripe_checkout_session_path(lookup_key: :standard_monthly)),
              } do %>
    <%= button_to private_menu_items_path,
                  class: "add-button",
                  disabled: true do %>
      <span class="material-symbols-sharp">add</span>
      <%= t('private.menus.new_menu_item.new_item') %>
    <% end %>
  <% end %>
<% end %>
