<% if menu.published? %>
  <%= render "banner",
              title: t('private.menus.publish.published'),
              tooltip: t('private.menus.publish.published_tooltip'),
              icon: "visibility",
              container_class: "bg-green-100",
              button_class: "text-green-600" do %>

    <%= link_to public_qrcode_path(public_business_url(menu.business)),
                title: t('private.menus.publish.qrcode_tooltip'),
                class: "relative" do %>
      <span class="relative material-symbols-sharp z-100">qr_code</span>
    <% end %>

    <%= link_to t('private.menus.publish.view'), public_menu_path(menu) %>

    <%= button_to t('private.menus.publish.unpublish_button'),
                  private_menu_path(menu),
                  method: :put,
                  params: { menu: { published: 0 } },
                  data: { turbo_confirm: t('private.menus.publish.unpublish_confirmation') } %>
  <% end %>
<% else %>
  <%= render "banner",
              title: t('private.menus.publish.unpublished'),
              tooltip: t('private.menus.publish.unpublished_tooltip'),
              icon: "visibility_off",
              container_class: "bg-yellow-100",
              button_class: "text-yellow-600" do %>
    <%= button_to t('private.menus.publish.publish_button'),
                  private_menu_path(menu),
                  method: :put,
                  params: { menu: { published: 1 } },
                  data: { turbo_confirm: t('private.menus.publish.publish_confirmation') } %>
  <% end %>
<% end %>
