<%= content_for :navigation_bar do %>
  <%= render 'new_menu', business: @business %>
<% end %>

<div class="main-content">
  <%= turbo_frame_tag @business do %>
    <%# TODO: validate empty %>
    <%= form_for @business, url: private_business_path, html: { class: "mt-4", oninput: "this.requestSubmit()" } do |f| %>
      <%= f.text_field :name,
                        placeholder: t('private.menus.index.business_name'),
                        autocomplete: :off,
                        class: "lite-input text-5xl w-full mb-4",
                        data: {
                          lpignore: true,
                          '1p-ignore': true,
                          form_type: :other,
                        } %>
    <% end %>
  <% end %>

  <ul class="pb-4">
    <% @menus.each do |menu| %>
      <li class="text-xl flex justify-between leading-normal">
        <%= link_to menu.name, private_menu_path(menu) %>
        <%= link_to private_menu_path(menu) do %>
          <% if menu.published? %>
            <%= tag.span "visibility", title: t('.published'), class: "material-symbols-sharp text-green-600" %>
          <% else %>
            <%= tag.span "visibility_off", title: t('.not_published'), class: "material-symbols-sharp text-yellow-600" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li class="text-right">
      <%= render 'new_menu', business: @business, button_class: "text-xl add-button" %>
    </li>
  </ul>
</div>

<%= render "subscription" unless Can.create_menu?(@business) %>
