<%= content_for :navigation_bar do %>
  <%= button_to "Create new menu", private_menus_path %>
<% end %>

<% if @menus.any? %>
  <div>
    <%= render "public/qrcodes/image_link", destination_url: public_business_url(@business) %>
  </div>
<% end %>

<%= turbo_frame_tag @business do %>
  <%= form_for @business, url: [:private, :business], html: { oninput: "this.requestSubmit()" } do |f| %>
    <%= f.text_field :name, placeholder: "Business Name", autocomplete: :off %>
  <% end %>
<% end %>

<ul id="menus">
  <% @menus.each do |menu| %>
    <li><%= link_to menu.name, [:private, menu] %></li>
  <% end %>
</ul>
