<%= content_for :navigation_bar do %>
  <%= render 'new_menu', business: @business %>
<% end %>

<div class="main-content">
  <%= turbo_frame_tag @business do %>
    <%# TODO: validate empty %>
    <%= form_for @business, url: [:private, :business], html: { class: "mt-4", oninput: "this.requestSubmit()" } do |f| %>
      <%= f.text_field :name, placeholder: "Business Name", autocomplete: :off, class: "lite-input text-5xl w-full mb-4" %>
    <% end %>
  <% end %>

  <ul class="pb-4">
    <% @menus.each do |menu| %>
      <li class="text-xl flex justify-between leading-normal">
        <%= link_to menu.name, [:private, menu] %>
        <%= link_to [:private, menu] do %>
          <% if menu.published? %>
            <span class="material-symbols-sharp text-green-600" title="Published">visibility</span>
          <% else %>
            <span class="material-symbols-sharp text-yellow-600" title="Not published">visibility_off</span>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li class="text-right">
      <%= render 'new_menu', business: @business, button_class: "text-xl add-button" %>
    </li>
  </ul>
</div>

<%= render "subscription" unless Can.create_menu?(@business) %>
