<div><%= link_to "Back to menus", [:private, :menus] %></div>
<div><%= link_to "Delete menu", [:private, @menu], data: { turbo_method: :delete, turbo_confirm: "Delete #{@menu.name}?" } %></div>

<br/>

<%= turbo_frame_tag :publish do %>
  <%= form_for @menu, url: [:private, @menu], html: { oninput: "this.requestSubmit()" } do |f| %>
    <%= f.check_box :published %>
    <%= f.label :published %>
  <% end %>
<% end %>

<%= turbo_frame_tag :edit do %>
  <%= form_for @menu, url: [:private, @menu], html: { oninput: "this.requestSubmit()" } do |f| %>
    <%= f.text_field :name, placeholder: "Menu Name", autocomplete: :off, style: "font-size: 2em; margin-bottom: 1em;" %>
  <% end %>
<% end %>

<%= turbo_frame_tag :list, data: { controller: "sortable-menu-sections" } do %>
  <% @menu.menu_sections.order(:position).each do |menu_section| %>
    <%= tag.div data: { sortable_menu_sections_update_url: private_menu_section_path(menu_section) } do %>
      <%= render "private/menu_sections/edit_form", menu_section: menu_section %>

      <%= tag.div data: { controller: "sortable-menu-items", sortable_menu_items_menu_section_id: menu_section.id } do %>
        <% menu_section.menu_items.order(:position).each do |menu_item| %>
          <%= render "private/menu_items/edit_form", menu_item: menu_item %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
