<%= content_for :navigation_bar do %>
  <%= turbo_frame_tag @menu.business, style: "flex: 1" do %>
    <%= form_for @menu.business, url: [:private, :business], html: { oninput: "this.requestSubmit()" } do |f| %>
      <%= f.text_field :name, placeholder: "Business Name", autocomplete: :off, class: "indistinct-input", style: "color: white; font-size: 1em; width: 100%" %>
    <% end %>
  <% end %>

<% end %>

<%= content_for :navigation_menu do %>
  <% if @menu.published? %>
    <%= link_to public_menu_path(@menu), target: :_blank do %>
      <span class="material-symbols-sharp">open_in_new</span>
      &nbsp;
       View as customer
    <% end %>
  <% end %>

  <% if @menu.published? %>
    <%= button_to "Unpublish menu",
          private_menu_path(@menu),
          method: :put,
          params: { menu: { published: 0 } },
          data: { turbo_confirm: "Unpublish this menu? Customers won't be able to view it anymore." } %>
    <%= link_to "Print QR Code", public_qrcode_path((public_menu_url(@menu))), target: :_blank %>
  <% else %>
    <%= button_to "Publish menu",
          private_menu_path(@menu),
          method: :put,
          params: { menu: { published: 1 } },
          data: { turbo_confirm: "Publish this menu? It will become visible to customers." } %>
  <% end %>

  <%#= button_to "Delete menu",
        private_menu_path(@menu),
        method: :delete,
        data: { turbo_confirm: "Delete this menu? Once deleted, it can't be restored. If you just want to hide it from customers, you can unpublish instead." } %>

<% end %>

<div class="menu">

  <%= turbo_frame_tag :edit, class: "menu-content" do %>
    <div class="menu-section">
      <%= form_for @menu, url: [:private, @menu], html: { oninput: "this.requestSubmit()" } do |f| %>
        <%= f.text_field :name, placeholder: "Menu Name", autocomplete: :off, class: "menu-name indistinct-input" %>
      <% end %>
    </div>
  <% end %>

  <%= tag.div class: "menu-content" do %>
    <div class="menu-section">
      <%= button_to \
            "Add section…",
            private_menu_sections_path,
            class: "large button",
            data: { turbo_frame: :list },
            params: { menu_section: { menu_id: @menu.id, position: 1 } } %>
    </div>
  <% end %>

  <%= turbo_frame_tag :list, data: { controller: "sortable-menu-sections" } do %>
    <% @menu.menu_sections.order(:position).each do |menu_section| %>
      <%= turbo_frame_tag menu_section, class: "menu-content", data: { sortable_menu_sections_update_url: private_menu_section_path(menu_section) } do %>
        <div class="menu-section">
          <%= render "private/menu_sections/form", menu_section: menu_section %>

          <%= tag.div data: { controller: "sortable-menu-items", sortable_menu_items_menu_section_id: menu_section.id } do %>
            <% menu_section.menu_items.order(:position).each do |menu_item| %>
              <%= render "private/menu_items/form", menu_item: menu_item %>
            <% end %>
          <% end %>

          <%= button_to \
                "Add item",
                private_menu_items_path,
                class: "button",
                data: { turbo_frame: :list },
                params: { menu_item: { menu_section_id: menu_section.id, position: menu_section.menu_items.count + 1 } } %>
        </div>

        <div class="menu-section">
          <%= button_to \
                "Add section…",
                private_menu_sections_path,
                class: "large button",
                data: { turbo_frame: :list },
                params: { menu_section: { menu_id: @menu.id, position: menu_section.position + 1 } } %>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
