<div><%= link_to "Back to menus", [:private, :menus] %></div>
<div><%= link_to "Edit name", [:edit, :private, @menu] %></div>
<div><%= link_to "Delete menu", [:private, @menu], data: { turbo_method: :delete, turbo_confirm: "Delete #{@menu.name}?" } %></div>

<br/>

<%= turbo_frame_tag @menu do %>
  <%= form_for @menu, url: [:private, @menu], html: { oninput: "this.requestSubmit()" } do |f| %>
    <%= f.check_box :published %>
    <%= f.label :published %>
  <% end %>
<% end %>

<h1>
  <%= @menu.name %>
</h1>

<div id="menu_items">
  <% @menu_items.each do |menu_item| %>
    <%= render "private/menu_items/edit_form", menu_item: menu_item %>
  <% end %>
</div>

<%= render "private/menu_items/new_form", menu_item: @menu.menu_items.build %>
