<%= content_for :navigation_bar do %>
  <%= link_to [:private, :menus] do %>
    <span class="material-symbols-sharp">arrow_back</span>
    &nbsp;
    All menus
  <% end %>
<% end %>

<%= content_for :navigation_menu do %>
  <%= button_to "Delete menu",
        private_menu_path(@menu),
        method: :delete,
        data: { turbo_confirm: "Delete this menu? Once deleted, it can't be restored. If you just want to hide it from customers, you can unpublish instead." } %>

<% end %>

<%= render "publish", menu: @menu %>

<%= turbo_frame_tag :edit, class: "main-content" do %>
  <div class="mt-4 mb-4">
    <%= form_for @menu, url: [:private, @menu], html: { oninput: "this.requestSubmit()" } do |f| %>
      <%= f.text_field :name, placeholder: "Menu name", autocomplete: :off, class: "menu-name lite-input text-5xl" %>
    <% end %>
  </div>
<% end %>

<%# mb-120 keeps the scroll position when dragging around the last items in mobile devices: %>
<%# 1. Open this page in mobile and add enough items to fill the screen past the bottom %>
<%# 2. Select the last item - the keyboard should slide up %>
<%# 3. Drag the item around - the keyboard should slide down automatically but the page must NOT move %>
<%= turbo_frame_tag :menu, class: "main-content mb-120" do %>
  <div class="mb-4 text-right">
    <%= render 'new_menu_section', menu: @menu, position: 1 %>
  </div>

  <div data-controller="sortable-menu-sections">
    <% @menu.menu_sections.order(:position).each do |menu_section| %>
      <div class="py-2 -mx-12 px-12 bg-white">
        <%= render "private/menu_sections/form", menu_section: menu_section %>

        <%= tag.div class: "mb-4", data: { controller: "sortable-menu-items", sortable_menu_items_menu_section_id: menu_section.id } do %>
          <% menu_section.menu_items.order(:position).each do |menu_item| %>
            <div class="-mx-12 px-12 bg-white">
              <%= render "private/menu_items/form", menu_item: menu_item %>
            </div>
          <% end %>
        <% end %>

        <div class="menu-section-actions">
          <%= render 'new_menu_item', menu: @menu, menu_section: menu_section, position: menu_section.menu_items.count + 1 %>
          <%= render 'new_menu_section', menu: @menu, position: menu_section.position + 1 %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="saving">
    <span class="material-symbols-sharp">backup</span>
  </div>

  <%= render "subscription" unless Can.create_menu_section?(@menu) && Can.create_menu_item?(@menu) %>
<% end %>
