<%= content_for :navigation_bar do %>
  <%= link_to [:private, :menus] do %>
    <span class="material-symbols-sharp">arrow_back</span>
    &nbsp;
    All menus
  <% end %>
<% end %>

<%= content_for :navigation_menu do %>
  <%= button_to "Delete menu",
        private_menu_path(@menu),
        method: :delete,
        data: { turbo_confirm: "Delete this menu? Once deleted, it can't be restored. If you just want to hide it from customers, you can unpublish instead." } %>

<% end %>

<%= tag.div class: "relative -top-4 py-4 #{@menu.published? ? "bg-green-100" : "bg-yellow-100"}" do %>
  <div class="main-content">
    <div class="flex justify-between gap-4">
      <% if @menu.published? %>
        <div title="Visible to customers">
          <span class="material-symbols-sharp">visibility</span>
          &nbsp;
          Published
        </div>
        <div class="flex gap-4 text-green-600">
          <%= link_to public_qrcode_path((public_business_url(@menu.business))), title: "Print QR Code and display in your restaurant", class: "relative" do %>
              <% if @menu.updated_at > 5.seconds.ago %>
                <span class="absolute left-0 top-0 inline-block w-4 h-4 bg-green-300 rounded-full animate-ping"></span>
              <% end %>
              <span class="relative material-symbols-sharp z-100">qr_code</span>
          <% end %>
          <%= link_to "View", public_menu_path(@menu) %>
          <%= button_to "Unpublish",
              private_menu_path(@menu),
              method: :put,
              params: { menu: { published: 0 } },
              data: { turbo_confirm: "Unpublish this menu? Customers won't be able to view it anymore." } %>
        </div>
      </div>
      <% else %>
        <div title="Customers can't access this menu">
          <span class="material-symbols-sharp">visibility_off</span>
          &nbsp;
          Unpublished
        </div>
        <div class="flex gap-4 text-yellow-600">
          <%= button_to "Publish menu",
              private_menu_path(@menu),
              method: :put,
              params: { menu: { published: 1 } },
              data: { turbo_confirm: "Publish this menu? It will become visible to customers." } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag :edit, class: "main-content" do %>
  <div class="mb-4">
    <%= form_for @menu, url: [:private, @menu], html: { oninput: "this.requestSubmit()" } do |f| %>
      <%= f.text_field :name, placeholder: "Menu name", autocomplete: :off, class: "menu-name lite-input text-5xl" %>
    <% end %>
  </div>
<% end %>

<%= tag.div class: "main-content" do %>
  <div class="mb-4">
    <%= button_to \
          private_menu_sections_path,
          class: "add-button",
          data: { turbo_frame: :list },
          params: { menu_section: { menu_id: @menu.id, position: 1 } } do %>
      <span class="material-symbols-sharp">add</span>
      New section
    <% end %>
  </div>
<% end %>

<%# mb-120 keeps the scroll position when dragging around the last items in mobile devices: %>
<%# 1. Open this page in mobile and add enough items to fill the screen %>
<%# 2. Select the last item - the keyboard should slide up %>
<%# 3. Drag the item around - the keyboard should slide down and the page should NOT shift %>
<%= turbo_frame_tag :list, class: "mb-120", data: { controller: "sortable-menu-sections" } do %>
  <% @menu.menu_sections.order(:position).each do |menu_section| %>
    <%= turbo_frame_tag menu_section, class: "main-content py-2", data: { sortable_menu_sections_update_url: private_menu_section_path(menu_section) } do %>
      <div>
        <%= render "private/menu_sections/form", menu_section: menu_section %>

        <%= tag.div class: "mb-4", data: { controller: "sortable-menu-items", sortable_menu_items_menu_section_id: menu_section.id } do %>
          <% menu_section.menu_items.order(:position).each do |menu_item| %>
            <%= render "private/menu_items/form", menu_item: menu_item %>
          <% end %>
        <% end %>

        <div class="flex justify-between gap-4">
          <%= button_to \
                private_menu_items_path,
                class: "add-button",
                data: { turbo_frame: :list },
                params: { menu_item: { menu_section_id: menu_section.id, position: menu_section.menu_items.count + 1 } } do %>
              <span class="material-symbols-sharp">add</span>
              New item
          <% end %>

          <%= button_to \
                private_menu_sections_path,
                class: "add-button",
                data: { turbo_frame: :list },
                params: { menu_section: { menu_id: @menu.id, position: menu_section.position + 1 } } do %>
            <span class="material-symbols-sharp">add</span>
            New section
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="saving">
    <span class="material-symbols-sharp">backup</span>
  </div>
<% end %>
