<div class="main-content">
  <h1 class="text-5xl py-4">
    <%= t('.welcome') %>
  </h1>

  <%= form_for @business, url: [:private, :business] do |f| %>
    <%= f.label :name, t('.label'), class: "text-xl" %>
    <%= f.text_field :name,
                      class: "w-full text-2xl",
                      data: {
                        lpignore: true,
                        '1p-ignore': true,
                        form_type: :other,
                      } %>

    <%= button_tag class: "float-right text-xl mt-4" do %>
      <%= t('.next') %>
      <span class="material-symbols-sharp">arrow_right_alt</span>
    <% end %>
  <% end %>
</div>
