<div class="action-bar-owner">
  <%= form_with \
        model: menu_section,
        url: private_menu_section_path(menu_section),
        data: {
          controller: 'menu-item-form',
          action: 'input->menu-item-form#input keypress.enter->menu-item-form#keypressEnter:prevent',
          turbo_frame: :list,
          sortable_menu_sections_form: true,
        } do |form| %>

    <%= form.hidden_field :position %>

    <%= form.text_field \
          :name,
          autocomplete: :off,
          placeholder: :section,
          enterkeyhint: :next,
          class: "menu-section-name indistinct-input" %>
  <% end %>

  <div class="action-bar">
    <%= button_to \
          '➕',
          private_menu_items_path,
          title: "Add item",
          class: "action-bar__button",
          data: { turbo_frame: :list },
          params: { menu_item: { menu_section_id: menu_section.id, position: 1 } } %>

    <%= button_to \
          '❌',
          private_menu_section_path(menu_section),
          method: :delete,
          title: "Delete",
          class: "action-bar__button",
          data: { turbo_frame: :list, turbo_confirm: "Remove the #{menu_section.name || "empty"} section permanently? Any nested items will be lost." } %>
  </div>

</div>
