<%= turbo_frame_tag menu_item do %>
  <%= form_with \
        model: menu_item,
        data: {
          controller: 'menu-item-form',
          action: 'input->menu-item-form#input keydown.enter->menu-item-form#enter:prevent',
          just_created: menu_item.previously_new_record?,
          parent_element_id: dom_id(menu_item),
        } do |form| %>

    <div>
      <%= form.text_field \
            :name,
            autocomplete: :off,
            placeholder: :name,
            enterkeyhint: :next,
            class: class_names(error: menu_item.errors.has_key?(:name)) %>
    </div>

    <div>
      <%= form.text_field \
            :price,
            autocomplete: :off,
            placeholder: :price,
            enterkeyhint: :next,
            inputmode: :decimal,
            value: number_to_currency(menu_item.price, unit: ''),
            class: class_names(error: menu_item.errors.has_key?(:price)) %>
    </div>

    <div>
      <%= form.hidden_field :menu_id %>
    </div>
  <% end %>

  <% if menu_item.persisted? %>
    <%= link_to 'Remove', menu_item, data: { turbo_method: :delete } %>
  <% end %>

  <br/>
  <br/>
<% end %>
