<%= turbo_frame_tag menu_item do %>
  <%= form_with \
        model: menu_item,
        data: {
          controller: 'auto-submit',
          action: 'input->auto-submit#input turbo:before-stream-render@window->auto-submit#beforeStreamRender',
          just_created: menu_item.previously_new_record?,
          parent_element_id: dom_id(menu_item),
        } do |form| %>

    <div>
      <%= form.text_field \
            :name,
            autocomplete: :off,
            placeholder: :name,
            class: class_names(
              error: menu_item.errors.has_key?(:name),
              saved: menu_item.saved_change_to_name?) %>
    </div>

    <div>
      <%= form.text_field \
            :price,
            autocomplete: :off,
            placeholder: :price,
            value: number_to_currency(menu_item.price, unit: ''),
            class: class_names(
              error: menu_item.errors.has_key?(:price),
              saved: menu_item.saved_change_to_price?) %>
    </div>

    <div>
      <%= form.hidden_field :menu_id %>
    </div>

    <br/>
  <% end %>
<% end %>
