<% menu_sections = menu.publicly_visible_menu_sections.order(:position) %>

<main class="main-content mt-12 mb-40">

  <h1 class="text-5xl">
    <%= menu.name %>
  </h1>

  <nav class="sticky top-0 bg-white dark:bg-black">
    <ul class="flex items-center gap-2 overflow-x-auto scrollbar-none py-2 mb-6 text-nowrap whitespace-nowrap">
      <% if menu_sections.length > 1 %>
        <% menu_sections.each_with_index do |menu_section, index| %>
          <%= tag.span "&bull;".html_safe if index > 0 %>
          <li><%= link_to menu_section.name, "##{dom_id(menu_section)}" %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>

  <% menu_sections.each do |menu_section| %>
    <%= tag.section id: dom_id(menu_section), class: "scroll-mt-12" do %>
      <%= tag.h2 menu_section.name, class: "text-3xl mb-2" %>

      <ul class="grid grid-cols-[auto_4rem] gap-x-4 mb-6 text-xl leading-tight">
        <% menu_section.publicly_visible_menu_items.order(:position).each do |menu_item| %>
          <li class="contents">
            <%= tag.h3 menu_item.name %>
            <p class="text-right">
              <%= number_to_currency(menu_item.price * 0.01, unit: '') if menu_item.price&.positive? %>
            </p>
            <% if menu_item.description.present? %>
              <%= tag.p menu_item.description, class: "text-base leading-tight text-neutral-500 mb-4" %>
              <p></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</main>
