<%# CTA banner %>
<% if @menu.demo? %>
  <%= render "banner", title: t('.example_menu'), icon: :warning, container_class: "bg-green-100", button_class: "text-green-600" do %>
    <%= link_to t('public.menus.show.create_menu'), new_user_registration_path %>
  <% end %>
<% end %>

<%# Link to business %>
<% unless @menu.business.menus.one? %>
  <div class="main-content mt-4">
    <%= link_to public_business_path(@menu.business) do %>
      &#10094;
      &nbsp;
      <%= @menu.business.name %>
    <% end %>
  </div>
<% end %>

<%= render "menu", menu: @menu %>

<%# Clicking a section link smoothly scrolls to that section and centers the link horizontally. %>
<%# Stimulus.js not available in public pages to be as light as possible. %>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('nav ul li a');
    links.forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        const targetId = link.getAttribute('href').substring(1);
        const targetSection = document.getElementById(targetId);
        targetSection.scrollIntoView({ behavior: 'smooth' });
        link.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'center' });
      });
    });
  });
</script>
