<div class="menu minimalist">

  <div class="menu-content">
    <div class="menu-section">
      <%= link_to @business.name, [:public, @business] %>
    </div>
  </div>

  <div class="menu-content">
    <div class="menu-section">
      <div class="menu-name">
        <%= @menu.name %>
      </div>
    </div>
  </div>

  <% @menu.publicly_visible_menu_sections.order(:position).each do |menu_section| %>
    <div class="menu-content">
      <div class="menu-section">

        <div class="menu-section-name">
          <%= menu_section.name %>
        </div>

        <% menu_section.publicly_visible_menu_items.order(:position).each do |menu_item| %>
          <div class="menu-item-form">
            <div class="menu-item-name">
              <%= menu_item.name %>
            </div>
            <div class="menu-item-price">
              <%= number_to_currency(menu_item.price) %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
