<%= turbo_frame_tag menu_item, data: { sortable_menu_items_update_url: private_menu_item_path(menu_item) } do %>
  <div class="sortable-handle" title="Drag menu item">↕</div>

  <%= form_with \
        model: menu_item,
        url: [:private, menu_item],
        data: {
          controller: 'menu-item-form',
          action: 'input->menu-item-form#input keypress.enter->menu-item-form#keypressEnter:prevent',
          edit_form: true,
        } do |form| %>

    <%= form.hidden_field :menu_section_id %>
    <%= form.hidden_field :position %>

    <div>
      <%= form.text_field \
            :name,
            autocomplete: :off,
            placeholder: :name,
            enterkeyhint: :next,
            class: class_names(error: form.object.errors.has_key?(:name)) %>
    </div>

    <div>
      <%= form.text_field \
            :price,
            autocomplete: :off,
            placeholder: :price,
            enterkeyhint: :next,
            inputmode: :decimal,
            value: number_to_currency(form.object.price, unit: ''),
            class: class_names(error: form.object.errors.has_key?(:price)) %>
    </div>

  <% end %>

  <% if menu_item.persisted? %>
    <%= button_to 'Remove', private_menu_item_path(menu_item), method: :delete %>

    <%= form_with \
          model: MenuItem.new,
          url: private_menu_items_path,
          data: {
            turbo_frame: :list,
            new_form: true,
          } do |form| %>
      <%= form.hidden_field :menu_section_id, value: menu_item.menu_section_id %>
      <%= form.hidden_field :position, value: menu_item.position + 1 %>
      <%= form.submit "Add item" %>
    <% end %>
  <% end %>

  <br/>
  <br/>
<% end %>
