<%= turbo_frame_tag menu_item, class: "menu-item action-bar-owner", data: { sortable_menu_items_update_url: private_menu_item_path(menu_item) } do %>

  <%= form_with \
        model: menu_item,
        url: private_menu_item_path(menu_item),
        class: "menu-item__form",
        data: {
          controller: 'menu-item-form',
          action: 'input->menu-item-form#input keypress.enter->menu-item-form#keypressEnter:prevent',
          turbo_frame: :list,
          sortable_menu_items_form: true,
        } do |form| %>

    <%= form.hidden_field :menu_section_id %>
    <%= form.hidden_field :position %>

    <div>
      <%= form.text_field \
            :name,
            autocomplete: :off,
            placeholder: :product,
            enterkeyhint: :next,
            class: "menu-item__name disguised-form-field" %>
    </div>

    <div>
      <%= form.text_field \
            :price,
            autocomplete: :off,
            placeholder: '$0',
            enterkeyhint: :next,
            inputmode: :decimal,
            class: "menu-item__price disguised-form-field",
            value: number_to_currency(form.object.price, unit: '') %>
    </div>

  <% end %>

  <div class="action-bar">
    <%= button_to \
          '➕',
          private_menu_items_path,
          title: "Add product after #{menu_item.name}",
          class: "action-bar__button",
          data: { turbo_frame: :list },
          params: {
            menu_item: {
              position: menu_item.position + 1,
              menu_section_id: menu_item.menu_section_id,
            }
          } %>

    <%= button_to \
          '❌',
          private_menu_item_path(menu_item),
          method: :delete,
          title: "Delete #{menu_item.name}",
          class: "action-bar__button",
          data: {
            turbo_frame: :list,
            turbo_confirm: "Remove the #{menu_item.name || "empty"} item permanently?"
          } %>

  </div>

<% end %>
