<%= turbo_frame_tag menu_item, data: { sortable_menu_items_update_url: private_menu_item_path(menu_item) } do %>
  <div class="sortable-handle" title="Drag menu item">↕</div>

  <%= form_with \
        model: menu_item,
        url: private_menu_item_path(menu_item),
        data: {
          controller: 'menu-item-form',
          action: 'input->menu-item-form#input keypress.enter->menu-item-form#keypressEnter:prevent',
          turbo_frame: :list,
          sortable_menu_items_form: true,
        } do |form| %>

    <%= form.hidden_field :menu_section_id %>
    <%= form.hidden_field :position %>

    <div>
      <%= form.text_field \
            :name,
            autocomplete: :off,
            placeholder: :name,
            enterkeyhint: :next %>
    </div>

    <div>
      <%= form.text_field \
            :price,
            autocomplete: :off,
            placeholder: :price,
            enterkeyhint: :next,
            inputmode: :decimal,
            value: number_to_currency(form.object.price, unit: '') %>
    </div>

  <% end %>

  <%= button_to \
        'Remove',
        private_menu_item_path(menu_item),
        method: :delete,
        data: { turbo_frame: :list } %>

  <%= button_to \
        'Add item',
        private_menu_items_path,
        data: { turbo_frame: :list },
        params: {
          menu_item: {
            position: menu_item.position + 1,
            menu_section_id: menu_item.menu_section_id,
          }
        } %>

  <br/>
  <br/>
<% end %>
