<div class="flex w-full max-w-[1024px] mx-auto justify-between p-8">
  <div class="flex-1 pt-16 md:pt-32">
    <div class="max-w-64 mx-auto lg:max-w-fit">
      <h1 class="text-6xl lg:text-9xl font-bold">
        <%= t('.title') %>
      </h1>
      <h2 class="text-xl lg:text-4xl">
        <%= t('.subtitle') %>
      </h2>

      <div class="py-4 flex gap-4">
        <%= link_to t('.make_your_menu'), new_user_registration_path, class: "border-2 border-solid border-black py-1 px-2 text-xl lg:text-2xl bg-black text-white" %>
        <%= link_to t('.see_example'), public_menu_path(@menu), class: "border-2 border-solid border-black py-1 px-2 text-xl lg:text-2xl" %>
      </div>

      <div class="py-4 md:opacity-20 hover:opacity-100 transition-opacity max-w-60 lg:max-w-72">
        <%= image_tag public_qrcode_path(public_menu_url(@menu)), alt: t('.qr_code_alt'), width: "100%" %>
      </div>
    </div>
  </div>

  <div class="hidden md:block">
    <%= render "phone" do %>
      <div class="animate-scrollable">
        <%= render "public/menus/menu", menu: @menu %>
      </div>
    <% end %>
  </div>
</div>
