<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= tag.meta name: :description, content: t('layouts.application.description') %>
    <%= render 'application/favicon' %>
    <%= render 'layouts/og' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/google_fonts" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= render 'gtag' %>
  </head>

  <body class="dark:bg-black dark:text-white">
    <%= render "layouts/notice" %>
    <%= yield %>
  </body>
</html>
