<div class="navigation" data-controller="navigation">
  <div class="main-content">
    <div class="navigation__bar">
      <%= yield :navigation_bar %>
      <div><%# Empty div to push the menu icon to the right in case `yield :navigation_bar` is nil %></div>

      <button data-navigation-target="dropdownMenuButton" data-action="click->navigation#handleDropdownMenuButtonClick">
        <span class="material-symbols-sharp">menu</span>
      </button>
    </div>

    <div class="navigation__menu" data-navigation-target="dropdownMenu">
      <%= yield :navigation_menu %>
      <% if @business.persisted? %>
        <%= link_to t('.print_qr_code'), public_qrcode_path(public_business_url(@business)) %>
      <% end %>
      <% if @business.subscribed? %>
        <%= link_to t(".billing"),
                    private_stripe_portal_session_path,
                    target: :_blank,
                    data: { turbo: false } %>
      <% end %>
      <%= button_to t('.sign_out'), destroy_user_session_path, method: :delete, data: { turbo: false } %>
    </div>
  </div>
</div>
