<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= render "layouts/google_fonts" %>
    <%= render "layouts/google_tag" %>
  </head>

  <body class="devise">
    <%= render "layouts/notice" %>
    <div class="main-content py-12">
      <h1><%= t('layouts.application.title') %></h1>
      <%= yield %>
    </div>
  </body>
</html>
